body{
    
    background-image: url(../res/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     

    
}

@font-face {
    font-family: crep ;
    src: url(../res/letra/GrandParadiso-Regular.ttf);
}

.bordes {
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 10px 10px #000 ;


    border: 5px double rgb(126, 118, 8);
   padding: 20px;
   border-radius: 25px;
 margin-left: 80px;
 margin-right: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: crep ;
}  

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "open sans";
}

nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.menu-horizontal{
list-style: none;
display: flex;
 justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px ;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li  :hover{
background-color: rgb(184, 174, 43);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 187px;
    background-color:  rgb(223, 208, 4);
}

.menu-horizontal li:hover .menu-vertical{
display: block;
}

.menu-vertical li:hover{
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: rgb(19, 1, 1);
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.img {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border: 5px dashed gray;
    border-radius: 30px;

}

.info_pagina{
    background-color: rgb(192, 104, 104);
    text-align: center;
    padding: 38px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;

}



#derechos{
    color: white;
    text-align: center;
}

.titulo_1{
text-align: center;
 display: block;

}

section {
   display: flex;
   width: 600px;
   height: 430px;
   margin: 0 auto;

}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
   cursor: crosshair;
   width: 300px;
   opacity: 1;
   filter: contrast(120%);

}


.b_info_tour{
float: left;
text-align: center;
border: 2px solid rgb(22, 204, 134);
border-radius: 25px;
margin-top: 50px;
border-radius: 25px;
height: 220px;
width: 400px;
margin: 130px;

background: #00467F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 0 10px 10px #000 ;


}

.info_tour{
   text-align: center;
   color: white;
   font-family: crep ;
   
}

.pf-1{
    text-align: center;
    color: white;
    margin-top: 20px;
}

 .b_info_precio{
    float: right;
    text-align: center;
    border: 2px solid rgb(54, 82, 12);
    border-radius: 25px;
    margin-top: 50px;
    height: 220px;
    width: 400px;
    margin: 130px;

    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 10px 10px #000 ;

 }

 .info_precio{
    text-align: center;
    color: white;
    font-family: crep ;
    
 }
 .pf-2{
    text-align: center;
    color: white;
    margin-top: 20px;


 }

.inicio{
   
    justify-content: center;
    text-align: center;
    padding: 25px 45px;
    border: 1px solid red;
    border-radius: 25px;
    color: bisque;
    text-decoration: none;
    margin-top: 10px;
   margin: 600px;
  
   background: #B79891;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   box-shadow: 0 10px 10px #000 ;

}


 
